{
	"useTabs": true,
	"semi": true,
	"endOfLine": "lf",
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 120,
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"svelteIndentScriptAndStyle": true
}
